<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dxneryfww/image/upload/v1652207367/development/ds3xunfqfrdi2sjekaov.jpg);">
  <div class="container">
    <h1>It's time to ride the car of your dreams</h1>
    <p>Rent a luxury car and feel the wind in your face</p>
  </div>
</div>


