<br>
<div class="new-car container">
<h1>Edit this reservation</h1>
<%= simple_form_for [@car, @reservation] do |f| %>
  <%= f.input :start_date, as: :date, html5: true  %>
  <%= f.input :end_date, as: :date, html5: true  %>
  <%= f.button :submit %>
<% end %>
</div>
<br>
