<h1>All reservations</h1>
<ul>
  <% @reservations_of_user.each do |reservation|%>
  <% car = Car.find(reservation.car_id) %>
  <li><%= link_to "#{car.brand} #{car.model} reserved", car_reservation_path(car, reservation) %></li>
  <p><%= "From #{reservation.start_date.strftime("%F")} to #{reservation.end_date.strftime("%F")}" %></p>
  <p>payed: $<%= reservation.amount %></p>
  <% car = Car.find(reservation.car_id) %></h1>
  <br><br>
  <% end %>
</ul>
<br>
