<br>
  <div class="new-car container">
    <h1>Reserve a car</h1>
    <%= simple_form_for [@car, @reservation] do |f| %>
      <%= f.input :start_date, as: :date, html5: true  %>
      <%= f.input :end_date, as: :date, html5: true  %>
      <%= f.button :submit %>
    <% end %>
    <br>
    </div>
<br>
