.profile-container {
  border: 1px solid black;
  width: 70%;
  padding: 30px;
  box-shadow: 2px 2px;
  background-color: #C8E9A0;
  margin: auto;
  text-align: justify;
  border-radius: 10px;
}

.btn-update-user {
  border: 1px solid black;
  width: fit-content;
  border-radius: 10px;
}
