
.show-info {
  overflow: hidden;
  background: rgb(236, 234, 234);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.show-info > img {
  height: 500px;
  width: 100%;
  object-fit: cover;
}

.link_to {
  text-decoration:none;
  color: #4e6ff4;
  list-style: none;
  opacity: 0.7;
  margin-left: 0px;
}
.link_to:hover {
  color: blue;
  opacity: 1;
}

.show-info .show-info-car{
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}
.show-info .show-info-index{
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  bottom: -20px;
  right: 0;
}
.show-info h2{
  color: black;
  opacity: 0.7;
  font-size: 15px;
}
.show-info h4{
  color: black;
  opacity: 0.7;
  font-size: 15px;
  margin-left: 15px;
}
.map{
  display: block;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
