<br>
<div class="container">
  <h1>Your available cars</h1>
  <div class="cards">
    <% @cars.each do |car|%>
    <div class="card-category" style="background-image: url(<%= cl_image_path car.photo.key %>)">
      <%= link_to "#{car.brand} #{car.model}", car_path(car), class: "text-white" %>
    </div>
    <% end %>
  </div>
</div>
<br>
